{% extends "default.html" %}


{% block content %}
<h2>Welcome {{ group.name }}</h2>
<div style="width: 100%;o">
    <div style="float:left; width: 40%">
    <form action="{{ url_for('vote_redirect') }}" method="post">
        <input type="hidden" name="group" value="{{ group.name }}">

        {% for r in group.restaurants %}
        <a href="{{ r.url }}" target="_blank"><img src="{{ r.image }}" alt="bamboozled again!" width="75" height="75"></a>
            <input type="radio" name="vote" value="{{ r.name }}">{{ r.name }}<br>
        {% endfor %}

        <input type="submit" name="submit" value="submit">
    </form>
    </div>
    <div style="float:left; width=60%">
        {{ plot_script | safe }}
        {{ plot_div | safe }}
    </div>
</div>
{% endblock %}