{% extends "default.html" %}
{% block content %}
    {% if error is defined%}
        <font color="red">{{ error }}</font><br>
    {% endif %}

    Fudr is a webapp that allows for the seamless choosing of lunch!<br>
    Click the create button to begin<br>


    <form action="{{ url_for('create_vote') }}" method="GET">
    <button>Create New Vote</button>
    </form>

    <p>Join an ongoing vote with a group key</p>
    <form action="{{ url_for('join_redirect') }}" method="POST">
        <input type="text" name="group name">
        <button>Join vote!</button>
    </form>
{% endblock %}